<main>
    <div class="container">
        <div class="contleft">
             <img src="img/pizza.png" alt="logo">
             <h1>FEUR PIZZA</h1>
             <p>Ici ça mange quoi?</p>
        </div>
    
        <div class ="contright">
    
            <div class="txtacc2">
                <h1>Se connecter</h1>
                <h2>Content de vous revoir !</h2>
            </div>
    
            <div class="btnacc">
                <form>
    
                    <input type="hidden" name ="objet" value="Compte">
                    <input type="hidden" name="action" value="connect">
                    <label for="login">login</label><br>
                    <input type="text" name="login" placeholder="Entrez votre login ..."><br>
                    <label for="mdp">mot de passe</label><br>
                    <input type="password" name="mdp" placeholder="Entrez votre mot de passe ..."><br>
    
                    <button action="submit">Se connecter</button>
    
                </form>
    
                <p>Pas de Compte? <a href='index.php?objet=Compte&action=displayCreationForm'> s'inscrire </a>.</p>
    
            </div>
        </div>
    </div>
</main> 